<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Contact {% endblock %}
</head>
<body>
    {% block content %}
        <div class="ffbox mb-5 card_align" style="margin-top: 6% !important;" > 
            <div class="ffbox1 p-5"> 
                <div>
                    <h1 class="gfg">Mass Timing</h1>
                    <h2 > Week Days </h2> 
                    <h4 class="ml-5"> Monday, Wednesday, Thursday </h4>
                    <h5 class="ml-5 pl-5 mt-3">* 6.30 am : Holy Mass in Tamil<br></h5>
                    <h4 class="ml-5 mt-3"> Tuesday, Friday </h4>
                    <h5 class="ml-5 pl-5 mt-3">* 6.30 pm : Holy Mass in Tamil<br></h5>
                </div>
                <div class="mt-5">
                    <h2> All Saturday </h2> 
                    <h5 class="ml-5 pl-5 mt-3">* 6. 00 pm : Rosary and Holy Mass in Tamil<br></h5>
                </div>
                <div class="mt-5">
                    <h2> All Sunday </h2> 
                    <h5 class="ml-5 pl-5 mt-3">* 8.00 am : Holy Mass in Tamil<br></h5>
                </div>
                <div class="mt-5">
                    <h2> First Saturday </h2> 
                    <h5 class="ml-5 pl-5 mt-3">* 6.00 pm : Rosary, procession around the church, Blessed sacrament, St Anne's prayer, Holy Mass in Tamil and Food providing<br></h5>
                    </h5>
                </div>
            </div>  
    {% endblock %}
</body>
</html>