<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} Home {% endblock %} </title>
        <link rel="icon" type="image/png" href="{% static 'images/matha2.jpeg' %}">
        <link rel="stylesheet" href='../static/css/index.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %} 
            <style>
            </style>
        {% endblock %}
    </head>
    <body style="background: rgb(253 234 216 / 94%);font-family: 'Mukta Malar', sans-serif;font-weight: 400;font-style: normal;">
        <div class="container-flued">
            {% block navigation %}
                <div class="fullnav">
                    <div>
                        <img src="{% static 'images/matha2.jpeg' %}" style="width: 3.5%;float: left;" class="ml-5 m-2 logo" alt="Logo">
                        <p class="logo_name">Santhanamatha</p>
                    </div>
                    <div class="topnav" id="myTopnav">
                        <a class="ml-2" href="#" ></a>
                        <a class="ml-2 home_algn" href="{% url 'home' %}" >Home</a>
                        <a href="{% url 'prayer' %}">Prayer</a>
                        <a href="{% url 'mass_schedule' %}">Mass Schedule</a> 
                        <a href="{% url 'event' %}">Events</a>
                        <a href="{% url 'festival_videos' %}">Videos</a>
                        <a href="{% url 'contact' %}">Contact</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                {% if last_events %}
                        {% for notification in last_events %}
                        <div id="scroll-container">
                            {% if notification.live_link %}
                                <a style="text-decoration: none;color: whitesmoke;" href="{{ notification.live_link }}" target="_blank">
                                    <div id="scroll-text">
                                        {{ notification.discription }}.
                                    </div>
                                </a>
                                {% else %}
                                    <div id="scroll-text">
                                        {{ notification.discription }}.
                                    </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% else %}
                    <div id="scroll-container">
                            <div id="scroll-text">Welcome to the Santhanamatha Church .</div>
                    </div>
                    {% endif %}
            {% endblock %}
            {% block content%}
                <div>
                    <div class="slideshow-container" style="margin-top: 0%;" >
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/01.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Text</div> -->
                        </div>
                        
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/02.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Two</div> -->
                        </div>
                        
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/03.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Three</div> -->
                        </div> 
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/05.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Two</div> -->
                        </div>
                        
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/06.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Three</div> -->
                        </div>  
                        <div class="mySlides fade" style="text-align-last: center;">
                            <img src="{% static 'images/07.jpg' %}" style="width:95%">
                            <!-- <div class="text">Caption Three</div> -->
                        </div>            
                    </div>
                    <div style="text-align:center;display: none;">
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="ffbox mb-5 card_align" > 
                    <div class="ffbox1">
                        <div> 
                            <h2 class="gfg mb-3 navanal_heading">புனித சந்தன மாதா பாடல்</h1> 
                            <div class="row">
                                <div class="col-12">
                                    <audio id="audioPlayer" style="width: 99%;" controls>
                                        <source src="{% static 'song/santhathaya.mp3' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="gfg mt-4 navanal_heading">தேவாலய நிகழ்வுகள்</h1> 
                </div>
                <div class="video-container" style="place-content: center;color: #9e052b;" >
                    {% if last_two_events %}
                        {% for event in last_two_events %}
                            <div class="video-item">
                                <img src="{{ event.image.url }}" style="width: 400px !important;height: 460px;">
                                <br>
                                <a style="border-radius: 13px;background: #9e052b;"  href="{{ event.image.url }}" download="event_image.jpg" class="btn btn-primary mt-2">Download</a>
                                <a style="text-decoration: none;font-size: large;">{{ event.discription }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No data found</h3>
                        </div>
                    {% endif %}
                    <a class="more_span_align" href="{% url 'event' %}"><span class="more_span"> More <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="20" height="20">
                        <path d="M9 18l6-6-6-6"/>
                    </svg>
                    </span></a>
                </div>
                <div class="ffbox mb-5 card_align" > 
                    <div class="ffbox1">
                        <div> 
                            <h2 class="gfg mb-3 navanal_heading">புனித சந்தன மாதாவை நோக்கி ஜெபம்</h1> 
                            <div class="row">
                                <div class="col-12">
                                    <p class="navanal_2">இறையருள் நிறைந்த புனித சந்தன மாதாவே! கன்னி மரியாளின் எழில்மிகு ஒப்பற்ற தாயே ! சந்தன மாதா ஆலயத்தில் வீற்றிருந்து / உமது அன்பின் அருளால் / அண்டி வரும் மக்களுக்கு / இறைவனின் அருட்கொடைகளை வாரி வழங்கி  வருகின்றீர் ./  உமக்கே எங்கள் வணக்கமும் நன்றியும் உரித்தாகுக!
                                        தாயே இறைவனால் நீர் எவ்வளவோ நேசிக்கப்பட்டிருக்கிறீர். நீர் கேட்கும்  மன்றாட்டை / அவர் தர மறுப்பதில்லை என அறிந்திருக்கிற நாங்களும் / உமது திருவடி அருகில் நிற்கின்றோம் . இறைவனின் அருளை மிகுதியாக கொண்ட புனித சந்தன மாதாவே !நாங்கள் இறையருள் நிறைந்த இல்லத்தினராய் வாழ்ந்து
                                        <a class="ml-3" href="{% url 'prayer' %}"> Read More ...</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="gfg mb-3 navanal_heading">தேவாலய வீடியோக்கள்</h1> 
                </div>
                <div class="video-container" style="place-content: center;color: #9e052b;">
                    {% if last_two_videos %}
                        {% for video in last_two_videos %}
                            <div class="video-item">
                                <a href="{{ video.youtube_link }}" target="_blank">
                                    <img src="https://img.youtube.com/vi/{{ video.get_video_id }}/0.jpg" alt="Thumbnail">
                                </a><br>
                                <a style="text-decoration: none;font-size: large;" href="{{ video.youtube_link }}" target="_blank">{{ video.discription }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h3>No data found</h3>
                        </div>
                    {% endif %} 
                    <a class="more_span_align" href="{% url 'festival_videos' %}"><span class="more_span"> More <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="20" height="20">
                        <path d="M9 18l6-6-6-6"/>
                    </svg>
                    </span></a>        
                </div>
                <div style="color: #440707;">
                    <h2 class="gfg navanal_heading mt-3">தேவாலய அமைப்புகள்</h1>
                    <div class="row" style="margin-right:0 !important;">
                        <div class="col-6 organisation">
                            <h3 class="organisation_txt" style="text-align: right;">பங்கு நிர்வாகக்குழு</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="organisation_txt">பல்லோட்டின் அருட்சகோதரிகள்</h3>
                        </div>
                    </div> 
                    <div class="row" style="margin-right:0 !important;">
                        <div class="col-6 organisation" style="text-align: right;">
                            <h3 class="organisation_txt">வின்சென்ட் தே பவுல் சபை</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="organisation_txt">மரியாயின் சேனை</h3>
                        </div>
                    </div> 
                    <div class="row" style="margin-right:0 !important;">
                        <div class="col-6 organisation" style="text-align: right;">
                            <h3 class="organisation_txt">அன்பியக் குடும்பங்கள்</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="organisation_txt">பலிபீடச்சிறார்கள்</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-right:0 !important;">
                        <div class="col-12 organisation">
                            <h3 class="organisation_txt">இளையோர் மன்றம்</h3>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <footer>
            <div class="left">© Copyright Santhanamatha 2024. All rights reserved.</div>
            <div class="right mr-3">Designed and Developed by: A Edwin Joe <br> Contact: edwinjoedevops@gmail.com</div>
        </footer>
    <script>
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
            x.className += " responsive";
            } else {
            x.className = "topnav";
            }
        }
    </script>     
    </body>
</html>