<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Mass Timing {% endblock %}
</head>
<body>
    {% block content %}
        <div class="ffbox mb-5 card_align mass-res"> 
            <div class="ffbox1 p-5 background-container"> 
                <div>
                    <h1 class="gfg mt-4 v_title">திருப்பலி நேரம்</h1>
                    <h2 class="weekdays"> Week Days </h2> 
                    <h4 class=" days"> Monday, Wednesday, Thursday </h4>
                    <h5 class="tcontent">- 6.30 am : Holy Mass in Tamil<br></h5>
                    <h4 class="days"> Tuesday, Friday </h4>
                    <h5 class="tcontent">- 6.30 pm : Holy Mass in Tamil<br></h5>
                </div>
                <div class="ttopdic">
                    <h2 class="weekdays"> All Saturday </h2> 
                    <h5 class="tcontent">- 6. 00 pm : Rosary and Holy Mass in Tamil<br></h5>
                </div>
                <div class="ttopdic">
                    <h2 class="weekdays"> All Sunday </h2> 
                    <h5 class="tcontent">- 8.00 am : Holy Mass in Tamil<br></h5>
                </div>
                <div class="ttopdic">
                    <h2 class="weekdays"> First Saturday </h2> 
                    <h5 class="tcontent">- 6.00 pm : Rosary, procession around the church, Blessed sacrament, St Anne's prayer, Holy Mass in Tamil and Food providing<br></h5>
                    </h5>
                </div>
            </div>  
    {% endblock %}
</body>
</html>